# cmd python
ipython==8.10.0
#testing
pytest==7.2.1
mypy==0.991
# format and linting 
black==22.12.0
flake8==6.0.0
flake8-black==0.3.6
flake8-isort==6.0.0
flake8-tidy-imports==4.8.0
#flask
flask==2.0.1
python-dotenv==1.0.0